{% extends "base.html" %}

{% block content %}
<div class="overflow-hidden">
    <div class="text-center">
        <img src="https://media.istockphoto.com/id/1331943301/photo/blog-light-bulb-sign.jpg?b=1&s=170667a&w=0&k=20&c=MFRhBXsnOE7tYSjYx2CLRJgGDzUD5Kxh9c0tH-wP7dk=" alt="Trulli" class="img-fluid border rounded-3 shadow-lg mb-4"  height="300px" loading="lazy">
    </div>
</div>

<table id="table_id" class="display">
    <thead>
        <tr>
            <th class="no-sort">Article</th>
            <th>Post Date</th>
            <th class="no-sort">Link</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            <td>
                <h3>
                    {{ article.title }}
                </h3>
                <p>{{ article.content|truncatewords:"50" }}</p>
            </td>
            <td>{{article.created_at}}</td>
            <td>    
                <a class="align-text-bottom" href="article/{{article.id}}"><span>Read Article</span></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<div class="footer text-center">
    Footer
</div>

<script>
$(document).ready( function () {
    $('#table_id').DataTable({
        searching: false, 
        paging: false, 
        info: false,
        order: [[ 1, 'asc' ]],
        ordering: true,
            columnDefs: [{
            orderable: false,
            targets: "no-sort"}]
    });
} );
</script>
{% endblock %}